<div class="flex flex-column justify-content-between">
  <h1 class="m-0 p-0 text-center text-sm sm:text-base md:text-lg md:text-xl">{{ headerKey | translate }}</h1>

  <!-- BOOKMARKS -->
  <div
    *ngIf="bookmarks.length > 0"
    class="pt-2 p-1 sm:p-4 md:p-5 flex flex-row flex-wrap justify-content-center gap-2 sm:gap-3 md:gap-5"
  >
    <a
      *ngFor="let bookmark of bookmarks"
      tabindex="0"
      class="mb-0 p-1 sm:p-2 card w-8rem sm:w-10rem md:w-12rem xl:w-16rem h-5rem sm:h-7rem sm:h-8rem xl:h-9rem flex flex-column gap-1 justify-content-between align-items-center hover:bg-gray-200 cursor-pointer"
      [routerLink]="getUrl(bookmark) | async"
      [queryParams]="bookmark.query"
      [fragment]="bookmark.fragment"
    >
      <app-bookmark-image
        [bookmark]="bookmark"
        [product]="getProductByName(bookmark.productName)"
        styleClass="w-4rem sm:w-5rem md:w-6rem xl:w-7rem max-w-4rem sm:max-w-5rem md:max-w-6rem xl:max-w-7rem max-h-3rem sm:max-h-4rem md:max-h-5rem xl:max-h-6rem h-3rem sm:h-4rem md:h-5rem xl:h-6rem image-object border-round-sm"
      ></app-bookmark-image>
      <div
        class="md:mb-1 max-w-7rem sm:max-w-9rem md:max-w-11rem xl:max-w-15rem font-bold text-xs sm:text-sm xl:text-base text-responsive"
      >
        {{ bookmark['displayName'] }}
      </div>
    </a>
  </div>

  <!-- NO BOOKMARKS -->
  <p-messages *ngIf="!loading && bookmarks.length === 0" severity="info">
    <ng-template pTemplate>
      <div class="flex gap-2 align-items-center">
        <span class="p-message-icon">
          <i class="pi pi-star"></i>
        </span>
        <div class="flex gap-1 flex-column">
          <span class="p-message-summary">{{ 'REMOTES.BOOKMARK_LIST.NO_PRIVATE_BOOKMARKS.STATE' | translate }}</span>
          <span *ocxIfPermission="'BOOKMARK#CREATE'" class="p-message-detail m-0">
            {{ 'REMOTES.BOOKMARK_LIST.NO_PRIVATE_BOOKMARKS.TODO' | translate }}
          </span>
        </div>
      </div>
    </ng-template>
  </p-messages>
</div>
