@use '/src/app/_bm-mixins.scss' as *;

@include card-badges;
@include ocx-text-responsive;

.bookmark-link:hover {
  background: var(--tabview-header-hover-bg);
  border-color: var(--tabview-header-hover-border-color);
  color: var(--text-secondary-color);
}

:host ::ng-deep {
  .card-layout {
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow:
      0 2px 1px -1px #0003,
      0 1px 1px #00000024,
      0 1px 3px #0000001f;
  }
}
