@use '/src/app/_bm-mixins.scss' as *;

@include card-badges;
@include ocx-text-responsive;

.bookmark-link:hover {
  background: var(--tabview-header-hover-bg);
  border-color: var(--tabview-header-hover-border-color);
  color: var(--text-secondary-color);
}

:host ::ng-deep {
  .card-layout {
    padding: 0rem;
    border-radius: 4px;
    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
  }

  .p-card-body {
    padding: 0rem;
  }
}
