<form [formGroup]="formGroup">
  <p-floatlabel variant="on" class="mt-1" controlErrorAnchor>
    <input
      pInputText
      type="text"
      id="bm_create_update_form_display_name"
      class="w-full pt-3 pb-2 text-responsive"
      formControlName="displayName"
      [ariaLabel]="'BOOKMARK.TOOLTIPS.DISPLAY_NAME' | translate"
      [pTooltip]="'BOOKMARK.TOOLTIPS.DISPLAY_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label class="ocx-required-label" for="bm_create_update_form_display_name">
      {{ 'BOOKMARK.DISPLAY_NAME' | translate }}
    </label>
  </p-floatlabel>
</form>
