<div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
  <div class="pi pi-question-circle text-3xl danger-action-text"></div>
  <div>
    <div id="bm_delete_message_text" class="font-bold">{{ 'BOOKMARKS_DELETE.MESSAGE' | translate }}</div>
    <div id="bm_delete_bookmark_display_name" class="my-2 font-bold danger-action-text text-center">
      {{ bookmark?.displayName }}
    </div>
    <div class="mt-2">{{ 'BOOKMARKS_DELETE.MESSAGE_INFO' | translate }}</div>
  </div>
</div>
