<ocx-portal-page permission="BOOKMARK#VIEW" helpArticleId="PAGE_BOOKMARK_SEARCH" *ngrxLet="viewModel$; let vm">
  <ocx-page-header
    [header]="'BOOKMARK_SEARCH.HEADER' | translate"
    [subheader]="'BOOKMARK_SEARCH.SUB_HEADER' | translate"
  />
  <div class="card pt-2 correct-ocx-interactive-data-view">
    <ocx-interactive-data-view
      [data]="vm.results"
      [columns]="vm.columns"
      [pageSizes]="[20, 40, 100]"
      [emptyResultsMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      layout="table"
      [supportedViewLayouts]="['table']"
      sortField="displayName"
      [sortDirection]="defaultSortDirection"
      actionColumnPosition="left"
      [frozenActionColumn]="true"
      [additionalActions]="rowActions"
    >
      <ng-template #topCenter>
        <div class="flex justify-content-between gap-2 align-items-center flex-wrap md:flex-nowrap w-full h-full">
          <p-inputGroup class="w-auto">
            <span class="p-inputgroup-addon">
              <i class="pi pi-filter"></i>
            </span>
            <p-floatLabel>
              <input
                #bookmarkFilter
                pInputText
                type="text"
                id="bm_search_filter_input"
                class="border-noround"
                [attr.aria-label]="'ACTIONS.SEARCH.FILTER.LABEL' | translate"
                [pTooltip]="'ACTIONS.SEARCH.FILTER.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="bm_search_filter_input">{{ 'ACTIONS.SEARCH.FILTER.LABEL' | translate }}</label>
            </p-floatLabel>
            <button
              pButton
              id="bm_search_filter_action"
              class="p-inputgroup-addon p-button-icon-only"
              icon="pi pi-filter-slash"
              (click)="onResetFilter($event)"
              [attr.aria-label]="'ACTIONS.SEARCH.FILTER.RESET' | translate"
              [pTooltip]="'ACTIONS.SEARCH.FILTER.RESET' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></button>
          </p-inputGroup>
          <div>
            <!-- This is necessary to ensure a correct flex layout -->
          </div>
        </div>
      </ng-template>

      <ng-template #gridItem let-item> pTemplate="column id + IdTableCell" </ng-template>

      <!--
      <ng-template #gridItem let-item>
        <a
          class="col-12 lg:col-6 xl:col-4 flex py-1 sm:py-2 md:py-3"
          (click)="editBookmark(item)"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <div
            class="data-grid-item card w-12 lg:w-11 align-self-stretch cursor-pointer text-center hover:bg-gray-200 relative"
          >
            <div class="flex flex-column justify-content-center align-items-center gap-2 w-full h-full">
              <div class="flex justify-content-center w-full">
                <app-bookmark-image [bookmark]="item"></app-bookmark-image>
              </div>
              <div class="flex flex-column gap-1 w-full">
                <p class="font-bold sm:text-lg md:text-xl text-responsive m-0 max-w-full">{{ item.displayName }}</p>
                <p class="text-xs md:text-sm text-responsive">{{ item.scope | translate }}</p>
              </div>
            </div>
            <div class="absolute left-0 top-0 mt-3 ml-3" *ngIf="item.scope === 'BOOKMARK.SCOPES.PRIVATE'">
              <p-button
                pTooltip="{{
                    'BOOKMARK_SEARCH.CARD_ACTIONS.DELETE' | translate
                  }}"
                tooltipPosition="top"
                tooltipEvent="hover"
                icon="pi pi-trash"
                styleClass="p-button-text danger-action-text"
                (onClick)="
                    $event.stopPropagation(); deleteBookmark($event, item)
                  "
                id="delete-bookmark-button"
                *ocxIfPermission="'BOOKMARK#DELETE'"
              ></p-button>
            </div>
            <div class="absolute right-0 top-0 mt-3 mr-3">
              <a
                [routerLink]="getUrl(item) | async"
                pTooltip="{{
                'BOOKMARK_SEARCH.CARD_ACTIONS.VISIT' | translate
              }}"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <p-button
                  icon="pi pi-link"
                  styleClass="p-button-text"
                  (onClick)="
                    $event.stopPropagation();
                  "
                ></p-button>
              </a>
            </div>
          </div>
        </a>
      </ng-template -->
    </ocx-interactive-data-view>
  </div>
</ocx-portal-page>
