@import '../../../_bm_mixins.scss';

@include danger-action;
@include displaying-text-responsive;
@include correct-select-button;

:host ::ng-deep {
  ocx-data-layout-selection {
    display: none;
  }
  div:has(> #top-center-container) {
    flex: 1;
  }
}
