@import '/src/app/_bm-mixins.scss';

@include danger-action;
@include displaying-text-responsive;
@include table-inline-buttons;
@include table-zebra-rows;
@include correct-data-view-control;
@include correct-select-button;
@include search-criteria-select-button;
@include search-criteria-select-button-slim;

:host ::ng-deep {
  .p-datatable {
    .p-datatable-header {
      padding-left: 0;
      padding-right: 0;
    }
    .p-datatable-thead > tr > th,
    .p-datatable-tbody > tr > td {
      padding: 0.5rem 1rem;
      &:first-of-type {
        padding: 0.2rem;
        text-align: center;
        border-right-width: 1px !important;
        white-space: nowrap;
      }
    }
  }
  // hide unusable stuff
  ocx-column-group-selection,
  ocx-data-view-controls div div button {
    display: none;
  }
  ocx-data-view-controls div {
    justify-content: center !important;
  }

  .max-height-for-2-lines {
    max-height: 2.5rem;
  }
  .text-ellipsis-2-lines {
    @include displaying-text-ellipsis(2);
  }
}
