<div class="layout-topbar-item">
  <p-button
    styleClass="min-w-0 justify-content-center"
    tooltipPosition="bottom"
    [attr.aria-label]="'REMOTES.MANAGE_BOOKMARK.BUTTON.TOOLTIP.ADD' | translate"
    [pTooltip]="('REMOTES.MANAGE_BOOKMARK.BUTTON.TOOLTIP.' + ((isBookmarked$ | async) ? 'UPDATE' : 'ADD')) | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
    [rounded]="true"
    [text]="true"
    (onClick)="openBookmarkDialog()"
    *ngIf="bookmarks$.getValue() && (isBookmarked$ | async) !== undefined; else loadingButton"
  >
    <i class="pi pi-star-fill fs-xlarge p-button-icon" *ngIf="isBookmarked$ | async; else notBookmarkedIcon"></i>
    <ng-template #notBookmarkedIcon>
      <i class="pi pi-star fs-xlarge p-button-icon"></i>
    </ng-template>
  </p-button>
  <ng-template #loadingButton>
    <p-button
      styleClass="min-w-0 justify-content-center"
      [attr.aria-label]="'REMOTES.MANAGE_BOOKMARK.BUTTON.TOOLTIP.LOADING' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
      [rounded]="true"
      [text]="true"
      [loading]="true"
    ></p-button>
  </ng-template>
</div>
