<ng-container *ngIf="permissions.includes('BOOKMARK#CREATE')">
  <div class="layout-topbar-item" *ngIf="!bookmarkLoadingError">
    <button
      *ngIf="bookmarks$.getValue() && (isBookmarked$ | async) !== undefined; else loading"
      id="ocx_topbar_action_manage-bookmark"
      class="layout-topbar-action"
      pRipple
      pButton
      (click)="onOpenBookmarkDialog()"
      (keydown.enter.t)="onOpenBookmarkDialog()"
      [attr.aria-label]="'REMOTES.MANAGE_BOOKMARK.ACTION.' + ((isBookmarked$ | async) ? 'EDIT' : 'CREATE') | translate"
      [pTooltip]="'REMOTES.MANAGE_BOOKMARK.ACTION.' + ((isBookmarked$ | async) ? 'EDIT' : 'CREATE') | translate"
      tooltipPosition="bottom"
      tooltipEvent="hover"
    >
      <i
        *ngIf="isBookmarked$ | async; else notBookmarked"
        id="ocx_topbar_action_manage-bookmark_icon"
        class="pi pi-star-fill fs-xlarge"
      ></i>
      <ng-template #notBookmarked>
        <i id="ocx_topbar_action_manage-bookmark_icon" class="pi pi-star fs-xlarge"></i>
      </ng-template>
    </button>
    <ng-template #loading>
      <p-button
        styleClass="min-w-0 justify-content-center"
        [rounded]="true"
        [text]="true"
        [ariaLabel]="'REMOTES.MANAGE_BOOKMARK.ACTION.LOADING' | translate"
        [pTooltip]="'REMOTES.MANAGE_BOOKMARK.ACTION.LOADING' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </ng-template>
  </div>
</ng-container>
