@if (!bookmarkLoadingError) {
  <div *ocxIfPermission="'BOOKMARK#CREATE'; permissions: permissions" class="layout-topbar-item">
    @let isBookmarked = isBookmarked$ | async;
    @let icon = isBookmarked ? 'pi pi-star-fill' : 'pi pi-star';
    @if (bookmarks$.getValue() && isBookmarked !== undefined) {
      <p-button
        id="ocx_topbar_action_manage_bookmark_edit"
        class="ocx-topbar-action"
        pRipple
        [rounded]="true"
        [icon]="icon"
        (onClick)="onOpenBookmarkDialog()"
        (onKeydown.enter)="onOpenBookmarkDialog()"
        [ariaLabel]="'REMOTES.MANAGE_BOOKMARK.ACTION.' + (isBookmarked ? 'EDIT' : 'CREATE') | translate"
        [pTooltip]="'REMOTES.MANAGE_BOOKMARK.ACTION.' + (isBookmarked ? 'EDIT' : 'CREATE') | translate"
        tooltipPosition="bottom"
        tooltipEvent="hover"
      />
    } @else {
      <p-button
        id="ocx_topbar_action_manage_bookmark_loading"
        class="ocx-topbar-action"
        [rounded]="true"
        icon="pi pi-spin pi-cog"
        [ariaLabel]="'REMOTES.MANAGE_BOOKMARK.ACTION.LOADING' | translate"
        [pTooltip]="'REMOTES.MANAGE_BOOKMARK.ACTION.LOADING' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    }
  </div>
}
