<ocx-portal-page permission="BOOKMARK#OVERVIEW" helpArticleId="PAGE_BOOKMARK_OVERVIEW" *ngrxLet="viewModel$ as vm">
  <!-- PRODUCTS -->
  @if (isProductComponentDefined$ | async) {
    <ocx-slot
      [name]="slotName"
      [inputs]="{ dataType: 'products', logEnabled: false, logPrefix: 'bookmarks' }"
      [outputs]="{ products: productsEmitter }"
    >
    </ocx-slot>
  }

  <!-- HEADER -->
  <div class="relative overflow-hidden">
    <div class="m-2 flex flex-column row-gap-2 sm:row-gap-3 text-primary">
      <h1 id="wc_overview_info_title" class="m-0 line-height-1 font-normal text-xl sm:text-2xl md:text-4xl">
        {{ 'DIALOG.OVERVIEW.TITLE' | translate }} {{ (user$ | async)?.person?.firstName }}
      </h1>
      <div id="wc_overview_info_workspace" class="m-0 line-height-1 font-normal text-sm sm:text-base">
        Workspace: {{ workspace?.displayName }}
      </div>
      @if (vm.loading) {
        <p-message
          id="bm_overview_message_loading"
          severity="info"
          styleClass="mt-4"
          [text]="'ACTIONS.LOADING' | translate"
        ></p-message>
      }
      @if (vm.exceptionKey) {
        <p-message
          id="bm_overview_message_error"
          severity="error"
          styleClass="mt-4"
          [text]="vm.exceptionKey! | translate"
        ></p-message>
      }
    </div>
    <!-- dock is absolute positioned -->
    @if (hasEditPermissions$ | async) {
      <p-dock [model]="dockItems$ | async" position="right" styleClass="">
        <ng-template #item let-item>
          <span
            [class]="'text-primary cursor-pointer text-lg sm:text-2xl ' + item.iconClass"
            [attr.aria-label]="'ACTIONS.CONFIGURE.LABEL' | translate"
          ></span>
        </ng-template>
      </p-dock>
    }
  </div>

  <!-- BOOKMARKS
       => absolute positioned because screen centered and flex needs a height dimension of parent -->
  <div class="xl:absolute my-4 lg:my-6 xl:area-centered">
    @let products = products$ | async;
    @if (!vm.loading && !vm.exceptionKey && products) {
      <div class="xl:w-11 mx-auto flex flex-row flex-nowrap row-gap-4 sm:row-gap-3 column-gap-2 xl:column-gap-3">
        <app-bookmark-list
          headerKey="REMOTES.BOOKMARK_LIST.TABS.PRIVATE"
          [bookmarks]="onFilterBookmarksByScope(vm.results, BookmarkScope.Private)"
          [products]="products"
          [isPrivate]="true"
        />
        @if (onFilterBookmarksByScope(vm.results, BookmarkScope.Public).length > 0) {
          <app-bookmark-list
            headerKey="REMOTES.BOOKMARK_LIST.TABS.PUBLIC"
            [bookmarks]="onFilterBookmarksByScope(vm.results, BookmarkScope.Public)"
            [products]="products"
          />
        }
      </div>
    }
  </div>
</ocx-portal-page>
