<ocx-portal-page permission="BOOKMARK#OVERVIEW" helpArticleId="PAGE_BOOKMARK_OVERVIEW" *ngrxLet="viewModel$ as vm">
  <!-- PRODUCTS -->
  <ng-container *ngIf="isProductComponentDefined$ | async">
    <ocx-slot
      [name]="slotName"
      [inputs]="{ dataType: 'products', logEnabled: false, logPrefix: 'bookmark' }"
      [outputs]="{ products: productsEmitter }"
    >
    </ocx-slot>
  </ng-container>
  <!-- HEADER -->
  <div class="relative overflow-hidden">
    <div class="sm:ml-2 md:ml-3 lg:ml-0 flex flex-column gap-2 sm:gap-3 text-primary">
      <h1 id="wc_overview_info_title" class="m-0 line-height-1 font-normal text-xl sm:text-2xl md:text-4xl">
        {{ 'DIALOG.OVERVIEW.TITLE' | translate }} {{ (user$ | async)?.person?.firstName }}
      </h1>
      <h2 id="wc_overview_info_workspace" class="m-0 line-height-1 font-normal text-sm sm:text-base">
        Workspace: {{ workspace?.displayName }}
      </h2>
    </div>
    <!-- dock is absolute positioned -->
    <p-dock *ngIf="hasEditPermissions" [model]="dockItems$ | async" position="right" styleClass="">
      <ng-template pTemplate="item" let-item>
        <span
          [class]="'text-primary cursor-pointer text-lg sm:text-2xl ' + item.iconClass"
          [attr.aria-label]="'ACTIONS.CONFIGURE.LABEL' | translate"
        ></span>
      </ng-template>
    </p-dock>
  </div>

  <!-- BOOKMARKS
       => absolute positioned because screen centered and flex does not work without ceratin height of parent -->
  <div class="absolute mt-10 sm:mt-6 bookmark-section-centered">
    <div *ngIf="vm.loading || vm.exceptionKey">
      <p-message
        *ngIf="vm.loading"
        id="bm_overview_message_loading"
        severity="info"
        styleClass="m-3"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>
      <p-message
        *ngIf="vm.exceptionKey"
        id="bm_overview_message_error"
        severity="error"
        styleClass="m-3"
        [text]="vm.exceptionKey! | translate"
      ></p-message>
    </div>

    <div
      *ngIf="(products$ | async) ?? [] as products"
      class="w-11 mx-auto flex flex-row flex-nowrap column-gap-0 row-gap-4 sm:row-gap-3"
    >
      <!-- PRIVATE -->
      <app-bookmark-list
        headerKey="REMOTES.BOOKMARK_LIST.TABS.PRIVATE"
        [bookmarks]="onFilterBookmarksByScope(vm.results, BookmarkScope.Private)"
        [products]="products"
        [loading]="vm.loading"
        [isPrivate]="true"
      />

      <p-divider layout="vertical" type="solid" styleClass="m-0 p-2"></p-divider>

      <!-- PUBLIC -->
      <app-bookmark-list
        headerKey="REMOTES.BOOKMARK_LIST.TABS.PUBLIC"
        [bookmarks]="onFilterBookmarksByScope(vm.results, BookmarkScope.Public)"
        [products]="products"
        [loading]="vm.loading"
      />
    </div>
  </div>
</ocx-portal-page>
