@import '/src/app/_bm-mixins.scss';

@include danger-action;
@include displaying-text-responsive;

:host ::ng-deep {
  .area-centered {
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    .xl\:area-centered {
      margin: 0;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  .p-divider.p-divider-vertical:before {
    border: 1px solid #e4e4e4 !important;
  }
  .p-dock-right {
    top: -0.8rem;
  }
  .p-dock.p-dock-right .p-dock-list-container {
    overflow: hidden;
  }
}
