<p-tabView [formGroup]="formGroup" errorTailor>
  <p-tabPanel
    [header]="'BOOKMARK_DETAIL.TAB.PROPS' | translate"
    [tooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.PROPS' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    <div class="mt-1 mb-2 flex flex-column row-gap-4">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="bm_detail_form_display_name"
          class="w-full pt-3 pb-2"
          formControlName="displayName"
          [ariaLabel]="'BOOKMARK.DISPLAY_NAME' | translate"
          [pTooltip]="'BOOKMARK.TOOLTIPS.DISPLAY_NAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="bm_detail_form_display_name">
          {{ 'BOOKMARK.DISPLAY_NAME' | translate }}</label
        >
      </span>
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          [disabled]="true"
          id="bm_detail_product"
          class="w-full pt-3 pb-2"
          [value]="vm.initialBookmark?.productName"
          [ariaLabel]="'BOOKMARK.PRODUCT' | translate"
          [pTooltip]="'BOOKMARK.TOOLTIPS.PRODUCT' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="bm_detail_product">{{ 'BOOKMARK.PRODUCT' | translate }}</label>
      </span>
      <span *ocxIfPermission="'BOOKMARK#ADMIN_EDIT'" class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          [disabled]="true"
          id="bm_detail_app_id"
          class="w-full pt-3 pb-2"
          [value]="vm.initialBookmark?.appId"
          [ariaLabel]="'BOOKMARK.APP_ID' | translate"
          [pTooltip]="'BOOKMARK.TOOLTIPS.APP_ID' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="bm_detail_app_id">{{ 'BOOKMARK.APP_ID' | translate }}</label>
      </span>
      <p-checkbox
        *ocxIfPermission="'BOOKMARK#ADMIN_EDIT'"
        id="ws_menu_detail_field_disabled"
        class="ml-3"
        formControlName="is_public"
        [binary]="true"
        [label]="'BOOKMARK.SCOPES.PUBLIC' | translate"
        [ariaLabel]="'BOOKMARK.SCOPES.PUBLIC' | translate"
        [pTooltip]="'BOOKMARK.TOOLTIPS.SCOPE_IS_PUBLIC' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-checkbox>
    </div>
  </p-tabPanel>

  <!-- The internals - in case of an existing item only -->
  <p-tabPanel
    *ngIf="!['COPY', 'CREATE'].includes(vm.changeMode)"
    [header]="'BOOKMARK_DETAIL.TAB.INTERN' | translate"
    [tooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.INTERN' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    <div class="mt-1 mb-2 flex flex-column row-gap-4">
      <!-- row 1 -->
      <div class="flex flex-row flex-wrap gap-4">
        <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
          <input
            pInputText
            type="text"
            readonly
            id="ps_app_detail_form_field_creation_date"
            class="w-full sm:w-13rem pt-3 pb-2 text-responsive"
            [value]="vm.initialBookmark?.creationDate ? (vm.initialBookmark?.creationDate | date: datetimeFormat) : ''"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
        </span>
        <span class="flex-grow-1 p-float-label">
          <input
            pInputText
            type="text"
            readonly
            id="ps_app_detail_form_field_creation_user"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="vm.initialBookmark?.creationUser"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
        </span>
      </div>

      <!-- row 2 -->
      <div class="flex flex-row flex-wrap gap-4">
        <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
          <input
            pInputText
            type="text"
            readonly
            id="ps_app_detail_form_field_modification_date"
            class="w-full sm:w-13rem pt-3 pb-2"
            [value]="vm.initialBookmark?.modificationDate ? (vm.initialBookmark?.modificationDate | date: datetimeFormat) : ''"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_modification_date">
            {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
          </label>
        </span>
        <span class="flex-grow-1 p-float-label">
          <input
            pInputText
            type="text"
            readonly
            id="ps_app_detail_form_field_modification_user"
            class="w-full pt-3 pb-2 text-responsive"
            [value]="vm.initialBookmark?.modificationUser"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ps_app_detail_form_field_modification_user">
            {{ 'INTERNAL.MODIFICATION_USER' | translate }}
          </label>
        </span>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
