<!-- PRODUCTS -->
@if (isProductComponentDefined$ | async) {
  <ocx-slot
    [name]="slotName"
    [inputs]="{
      dataType: 'product',
      productName: this.vm.initialBookmark?.productName,
      logEnabled: true,
      logPrefix: 'bookmark'
    }"
    [outputs]="{ product: productEmitter }"
  >
  </ocx-slot>
}

<p-tabs value="0" [formGroup]="formGroup" errorTailor>
  <p-tablist>
    <p-tab
      value="0"
      [ariaLabel]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.PROPS' | translate"
      [pTooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.PROPS' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      {{ 'BOOKMARK_DETAIL.TAB.PROPS' | translate }}
    </p-tab>
    @if ('CREATE' !== vm.changeMode && !vm.initialBookmark?.url) {
      <p-tab
        value="1"
        [ariaLabel]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.TARGET' | translate"
        [pTooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.TARGET' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        {{ 'BOOKMARK_DETAIL.TAB.TARGET' | translate }}
      </p-tab>
      @if (editable) {
        <p-tab
          value="2"
          [ariaLabel]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.ENDPOINT' | translate"
          [pTooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.ENDPOINT' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'BOOKMARK_DETAIL.TAB.ENDPOINT' | translate }}
        </p-tab>
      }
      <p-tab
        value="3"
        [ariaLabel]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.PARAMS' | translate"
        [pTooltip]="'BOOKMARK_DETAIL.TAB.TOOLTIPS.PARAMS' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        {{ 'BOOKMARK_DETAIL.TAB.PARAMS' | translate }}
      </p-tab>
    }
    @if (['EDIT', 'VIEW'].includes(vm.changeMode)) {
      <p-tab
        value="4"
        [ariaLabel]="'INTERNAL.TOOLTIP' | translate"
        [pTooltip]="'INTERNAL.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        {{ 'INTERNAL.HEADER' | translate }}
      </p-tab>
    }
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="mt-1 mb-2 flex flex-column row-gap-4">
        <div>
          <p-floatlabel variant="on" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="bm_detail_form_field_display_name"
              class="w-full pt-3 pb-2 text-responsive"
              formControlName="displayName"
              [ariaLabel]="'BOOKMARK.DISPLAY_NAME' | translate"
              [pTooltip]="'BOOKMARK.TOOLTIPS.DISPLAY_NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label class="ocx-required-label" for="bm_detail_form_field_display_name">
              {{ 'BOOKMARK.DISPLAY_NAME' | translate }}</label
            >
          </p-floatlabel>
        </div>
        @if ('CREATE' === vm.changeMode || vm.initialBookmark?.url) {
          <div>
            <p-floatlabel variant="on" controlErrorAnchor>
              <textarea
                #bookmarkUrl
                class="w-full"
                pInputTextarea
                autoresize="true"
                rows="3"
                id="bm_detail_form_field_url"
                formControlName="url"
                [ariaLabel]="'BOOKMARK.URL' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.URL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                escape="false"
              ></textarea>
              <label class="ocx-required-label" for="bm_detail_form_field_url">{{ 'BOOKMARK.URL' | translate }}</label>
            </p-floatlabel>
          </div>
        }
        <!-- IMAGE -->
        <div class="flex flex-row flex-wrap sm:flex-nowrap align-items-center row-gap-2 column-gap-4">
          <input
            hidden
            type="file"
            accept="image/*"
            #selectedFileInputLogo
            (change)="onFileUpload($event, vm.initialBookmark)"
          />
          @if (vm.initialBookmark && fetchingLogoUrl && !onBookmarkImageLoadError) {
            <img
              [alt]="vm.initialBookmark.displayName"
              [ocxSrc]="fetchingLogoUrl"
              class="max-w-3rem max-h-3rem border-round-sm image-object"
              (error)="onBookmarkImageLoadError = true"
            />
          }
          <button
            *ocxIfPermission="'BOOKMARK#EDIT'"
            pButton
            id="bm_detail_form_field_remove_logo"
            icon="pi pi-times"
            [disabled]="!vm.initialBookmark?.id || onBookmarkImageLoadError"
            class="ml-1 action-button p-button-icon-only cursor-pointer"
            (click)="onRemoveLogo(vm.initialBookmark)"
            [attr.aria-label]="'IMAGE.TOOLTIPS.REMOVE' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
          <button
            *ocxIfPermission="'BOOKMARK#EDIT'"
            pButton
            id="bm_detail_form_field_upload_logo"
            icon="pi pi-upload"
            class="action-button p-button-icon-only cursor-pointer"
            (click)="selectedFileInputLogo.click()"
            [attr.aria-label]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
          <div class="flex flex-column w-full">
            <p-floatlabel variant="on">
              <textarea
                id="bm_detail_form_field_image_url"
                class="w-full"
                pInputTextarea
                autoresize="true"
                rows="2"
                formControlName="imageUrl"
                (input)="onInputChange($event, vm.initialBookmark)"
                (change)="onInputChange($event, vm.initialBookmark)"
                [ariaLabel]="'IMAGE.LOGO_URL' | translate"
                [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                escape="false"
              ></textarea>
              <label for="bm_detail_form_field_image_url">{{ 'IMAGE.LOGO_URL' | translate }} </label>
            </p-floatlabel>
          </div>
        </div>
        <div
          class="w-full flex flex-column sm:flex-row flex-wrap row-gap-2 justify-content-start sm:justify-content-around"
        >
          <!-- PUBLIC? -->
          <div class="flex flex-row column-gap-2 justify-content-start sm:justify-content-center align-items-center">
            <p-checkbox
              *ocxIfPermission="'BOOKMARK#ADMIN_EDIT'"
              type="text"
              id="bm_detail_form_field_is_public"
              formControlName="is_public"
              styleClass="cursor-auto shadow-none"
              [binary]="true"
              [ariaLabel]="'BOOKMARK.SCOPE_IS_PUBLIC' | translate"
              [pTooltip]="'BOOKMARK.TOOLTIPS.SCOPE_IS_PUBLIC' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-checkbox>
            <label for="bm_detail_form_field_is_public">
              {{ 'BOOKMARK.SCOPE_IS_PUBLIC' | translate }}
            </label>
          </div>
          <!-- FLAGS -->
          <div class="flex flex-column row-gap-2 md:row-gap-3">
            <div class="flex flex-row column-gap-2 justify-content-start align-items-center">
              <p-checkbox
                id="bm_detail_form_field_disabled"
                class="checkbox-label"
                formControlName="disabled"
                [binary]="true"
                [ariaLabel]="'BOOKMARK.TOOLTIPS.DISABLED' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.DISABLED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-checkbox>
              <label for="bm_detail_form_field_disabled">
                {{ 'BOOKMARK.DISABLED' | translate }}
              </label>
            </div>
            <div class="flex flex-row column-gap-2 justify-content-start align-items-center">
              <p-checkbox
                id="bm_detail_form_field_ws_exit"
                class="checkbox-label"
                formControlName="external"
                [binary]="true"
                [ariaLabel]="'BOOKMARK.TOOLTIPS.EXTERNAL' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.EXTERNAL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-checkbox>
              <label for="bm_detail_form_field_ws_exit">
                {{ 'BOOKMARK.EXTERNAL' | translate }}
              </label>
            </div>
            <div class="flex flex-row column-gap-2 justify-content-start align-items-center">
              <p-checkbox
                id="bm_detail_form_field_target"
                class="checkbox-label"
                formControlName="target"
                trueValue="_blank"
                falseValue="_self"
                [binary]="true"
                [ariaLabel]="'BOOKMARK.TOOLTIPS.TARGET' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.TARGET' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-checkbox>
              <label for="bm_detail_form_field_target">
                {{ 'BOOKMARK.TARGET' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </p-tabpanel>

    <p-tabpanel value="1">
      @let product = (productEmitter.asObservable() | async) ?? defaultProduct;
      @if (product) {
        <div class="flex flex-row flex-wrap justify-content-between align-items-center column-gap-3 row-gap-4">
          @if (product.imageUrl && !onProductImageLoadError) {
            <img
              [alt]="product.displayName"
              [ocxSrc]="product.imageUrl"
              class="max-w-4rem sm:max-w-5rem md:max-w-6rem xl:max-w-7rem max-h-3rem sm:max-h-4rem md:max-h-5rem xl:max-h-6rem image-object border-round-sm"
              (error)="onProductImageLoadError = true"
            />
          }
          <div class="flex-grow-1 mt-1 flex flex-column row-gap-4">
            <p-floatlabel variant="on">
              <input
                pInputText
                type="text"
                readonly
                [disabled]="true"
                id="bm_detail_form_field_product"
                class="w-full pt-3 pb-2 text-responsive"
                [value]="product.displayName"
                [ariaLabel]="'BOOKMARK.PRODUCT' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.PRODUCT' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="bm_detail_form_field_product">{{ 'BOOKMARK.PRODUCT' | translate }}</label>
            </p-floatlabel>
            <p-floatlabel *ocxIfPermission="'BOOKMARK#ADMIN_EDIT'" variant="on">
              <input
                pInputText
                type="text"
                id="bm_detail_form_field_app_id"
                class="w-full pt-3 pb-2 text-responsive"
                [disabled]="true"
                [value]="getProductAppDisplayName(product, vm.initialBookmark?.appId)"
                [ariaLabel]="'BOOKMARK.APP_ID' | translate"
                [pTooltip]="'BOOKMARK.TOOLTIPS.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="bm_detail_form_field_app_id">{{ 'BOOKMARK.APP_ID' | translate }}</label>
            </p-floatlabel>
          </div>
        </div>
      }
    </p-tabpanel>

    <p-tabpanel value="2">
      <div class="mt-1 mb-2 flex flex-column row-gap-4">
        <p-floatlabel variant="on" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="bm_detail_form_field_endpoint_name"
            class="w-full pt-3 pb-2"
            formControlName="endpointName"
            [ariaLabel]="'BOOKMARK.ENDPOINT' | translate"
            [pTooltip]="'BOOKMARK.TOOLTIPS.ENDPOINT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="bm_detail_form_field_endpoint_name">{{ 'BOOKMARK.ENDPOINT' | translate }}</label>
        </p-floatlabel>
        <div>
          <p-floatlabel variant="on" controlErrorAnchor>
            <p-badge
              severity="info"
              [value]="1000 - EndpointParameterObject.value.length"
              class="z-1 text-badge-right"
              [ariaLabel]="'DIALOG.DETAIL.CHARACTERS' | translate"
              [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <textarea
              #EndpointParameterObject
              pInputTextarea
              class="w-full"
              autoresize="true"
              rows="3"
              id="bm_detail_form_field_endpoint_parameter"
              formControlName="endpointParams"
              [ariaLabel]="'BOOKMARK.ENDPOINT_PARAMETER' | translate"
              [pTooltip]="'BOOKMARK.TOOLTIPS.ENDPOINT_PARAMETER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></textarea>
            <label for="bm_detail_form_field_endpoint_parameter">{{ 'BOOKMARK.ENDPOINT_PARAMETER' | translate }}</label>
            <div class="text-xs">Format: {{ 'VALIDATION.JSON_FORMAT' | translate }}</div>
          </p-floatlabel>
          @if (formGroup.get('endpointParams')?.errors) {
            <label class="block ocx-control-error" for="bm_detail_form_field_endpoint_parameter">
              {{ formGroup.get('endpointParams')?.errors?.['error'] }}
            </label>
          }
        </div>
      </div>
    </p-tabpanel>

    <p-tabpanel value="3">
      <div class="mb-2 flex flex-column row-gap-4">
        <div class="mx-auto flex flex-column text-xs">
          <div class="mb-1 flex flex-row gap-2">
            <div class="w-5rem font-bold">URL Format</div>
            :
            <div class="font-italic">
              {{ 'VALIDATION.URL_FORMAT' | translate }}
              <span class="text-red-500 font-bold"> ? </span>
              <i><b>query</b></i>
              <span class="text-red-500 font-bold"> # </span>
              <i><b>fragment</b></i>
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div class="w-5rem font-bold">Query</div>
            :
            <i>key_1=value_1<span class="text-red-500 font-bold"> & </span>key_2=value_2</i>
          </div>
          <div class="flex flex-row gap-2">
            <div class="w-5rem font-bold">Fragment</div>
            :<i>ressource</i>
          </div>
        </div>
        <div>
          <p-floatlabel variant="on" controlErrorAnchor>
            <p-badge
              severity="info"
              [value]="1000 - QueryObject.value.length"
              class="z-1 text-badge-right"
              [ariaLabel]="'DIALOG.DETAIL.CHARACTERS' | translate"
              [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <textarea
              #QueryObject
              class="w-full"
              pInputTextarea
              autoresize="true"
              rows="3"
              id="bm_detail_form_field_query"
              formControlName="query"
              [ariaLabel]="'BOOKMARK.QUERY' | translate"
              [pTooltip]="'BOOKMARK.TOOLTIPS.QUERY' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></textarea>
            <label for="bm_detail_form_field_query">{{ 'BOOKMARK.QUERY' | translate }}</label>
            <div class="text-xs">Format: {{ 'VALIDATION.JSON_FORMAT' | translate }}</div>
          </p-floatlabel>
          @if (formGroup.get('query')?.errors) {
            <label class="block ocx-control-error" for="bm_detail_form_field_query">
              {{ formGroup.get('query')?.errors?.['error'] }}
            </label>
          }
        </div>
        <p-floatlabel variant="on">
          <p-badge
            severity="info"
            [value]="1000 - FragmentObject.value.length"
            class="z-1 text-badge-right"
            [ariaLabel]="'DIALOG.DETAIL.CHARACTERS' | translate"
            [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <textarea
            #FragmentObject
            class="w-full"
            pInputTextarea
            autoresize="true"
            rows="3"
            id="bm_detail_form_field_fragment"
            formControlName="fragment"
            [ariaLabel]="'BOOKMARK.FRAGMENT' | translate"
            [pTooltip]="'BOOKMARK.TOOLTIPS.FRAGMENT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="bm_detail_form_field_fragment">{{ 'BOOKMARK.FRAGMENT' | translate }}</label>
        </p-floatlabel>
      </div>
    </p-tabpanel>

    <!-- The internals - in case of an existing item only -->
    <p-tabpanel value="4">
      <div class="mt-1 mb-2 flex flex-column row-gap-4">
        <!-- row 1 -->
        <div class="flex flex-row flex-wrap gap-4">
          <p-floatlabel variant="on" class="flex-grow-1 sm:flex-grow-0">
            @let _creationDate = vm.initialBookmark?.creationDate;
            @let creationDate = _creationDate ? (_creationDate | date: dateFormat) : '';
            <input
              pInputText
              type="text"
              id="bm_detail_form_field_creation_date"
              class="w-full sm:w-13rem pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="creationDate"
              [ariaLabel]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="bm_detail_form_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
          </p-floatlabel>
          <p-floatlabel variant="on" class="flex-grow-1">
            <input
              pInputText
              type="text"
              id="bm_detail_form_field_creation_user"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="vm.initialBookmark?.creationUser"
              [ariaLabel]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="bm_detail_form_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
          </p-floatlabel>
        </div>

        <!-- row 2 -->
        <div class="flex flex-row flex-wrap gap-4">
          <p-floatlabel variant="on" class="flex-grow-1 sm:flex-grow-0">
            @let _modificationDate = vm.initialBookmark?.modificationDate;
            @let modificationDate = _modificationDate ? (_modificationDate | date: dateFormat) : '';
            <input
              pInputText
              type="text"
              id="bm_detail_form_field_modification_date"
              class="w-full sm:w-13rem pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="modificationDate"
              [ariaLabel]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="bm_detail_form_field_modification_date">
              {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
            </label>
          </p-floatlabel>
          <p-floatlabel variant="on" class="flex-grow-1">
            <input
              pInputText
              type="text"
              id="bm_detail_form_field_modification_user"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="vm.initialBookmark?.modificationUser"
              [ariaLabel]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="bm_detail_form_field_modification_user">
              {{ 'INTERNAL.MODIFICATION_USER' | translate }}
            </label>
          </p-floatlabel>
        </div>
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
