<div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
  <div class="pi pi-question-circle text-3xl danger-action-text"></div>
  <div class="flex flex-column row-gap-2">
    <div id="bm_delete_message_text" class="font-bold">{{ 'BOOKMARK_DELETE.MESSAGE' | translate }}</div>
    <div id="bm_delete_bookmark_display_name" class="px-5 text-center font-bold danger-action-text">
      {{ bookmark?.displayName }}
    </div>
    <div class="px-2 flex flex-column row-gap-1">
      <div *ngIf="bookmark?.scope === BookmarkScopeEnum.Public" class="flex flex-row column-gap-2">
        <div class="w-4 text-right font-bold">{{ 'BOOKMARK.SCOPE' | translate }}:</div>
        <div class="w-8 text-left white-space-nowrap" id="am_delete_scope">
          {{ 'BOOKMARK.SCOPES.PUBLIC' | translate }}
        </div>
      </div>
      <div *ngIf="bookmark?.endpointName !== ''" class="flex flex-row column-gap-2">
        <div class="w-4 text-right font-bold">{{ 'BOOKMARK.ENDPOINT' | translate }}:</div>
        <div class="w-8 text-left white-space-nowrap" id="bm_delete_endpoint">{{ bookmark?.endpointName }}</div>
      </div>
      <div *ngIf="Object.keys(bookmark?.endpointParameters ?? {}).length > 0" class="flex flex-row column-gap-2">
        <div class="w-4 text-right font-bold">{{ 'BOOKMARK.ENDPOINT_PARAMETER' | translate }}:</div>
        <div class="w-8 text-left white-space-nowrap" id="bm_delete_endpoint_parameter">
          {{ Object.keys(bookmark?.endpointParameters ?? {}) }}
        </div>
      </div>
    </div>
    <div>{{ 'BOOKMARK_DELETE.INFO' | translate }}</div>
  </div>
</div>
