.bookmark-link:hover {
  background: var(--tabview-header-hover-bg);
  border-color: var(--tabview-header-hover-border-color);
  color: var(--text-secondary-color);
}

#bookmark-link-container {
  overflow: auto;
}
