<div class="surface-50 border-round">
  <div class="p-3 font-medium text-lg bg-gray-50">{{ 'REMOTES.BOOKMARK_LIST.TITLE' | translate }}</div>

  @if (bookmarkLoadingError) {
    <p-message
      severity="error"
      icon="pi pi-times-circle"
      styleClass="m-4"
      [text]="'REMOTES.BOOKMARK_LIST.LOADING_ERROR' | translate"
    />
  } @else if (loading) {
    <div class="m-3 min-h-xrem">
      <p-skeleton height="2rem"></p-skeleton>
    </div>
  } @else {
    @let privateBookmarks = privateBookmarks$ | async;
    @let publicBookmarks = (publicBookmarks$ | async) ?? [];
    <p-tabs value="0">
      <p-tablist>
        <!-- this tab is shown in case the user has permissions to create or have private bookmarks -->
        @if ((privateBookmarks && privateBookmarks.length > 0) || permissions.includes('BOOKMARK#CREATE')) {
          <p-tab
            value="0"
            [ariaLabel]="'REMOTES.BOOKMARK_LIST.TABS.PRIVATE' | translate"
            [pTooltip]="'REMOTES.BOOKMARK_LIST.TABS.PRIVATE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ 'REMOTES.BOOKMARK_LIST.TABS.PRIVATE' | translate }}
          </p-tab>
        }
        <p-tab
          value="1"
          [ariaLabel]="'REMOTES.BOOKMARK_LIST.TABS.PUBLIC' | translate"
          [pTooltip]="'REMOTES.BOOKMARK_LIST.TABS.PUBLIC.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'REMOTES.BOOKMARK_LIST.TABS.PUBLIC' | translate }}
        </p-tab>
      </p-tablist>

      <p-tabpanel value="0">
        @if (privateBookmarks && privateBookmarks.length > 0) {
          <app-bookmark-links [bookmarks]="privateBookmarks"></app-bookmark-links>
        } @else if (permissions.includes('BOOKMARK#CREATE')) {
          <p-message
            severity="info"
            icon="pi pi-star"
            styleClass="m-4"
            text="{{ 'REMOTES.BOOKMARK_LIST.NO_PRIVATE_BOOKMARKS.TODO' | translate }}"
          />
        }
      </p-tabpanel>

      <p-tabpanel value="1">
        @if (publicBookmarks && publicBookmarks.length > 0) {
          <app-bookmark-links [bookmarks]="publicBookmarks"></app-bookmark-links>
        } @else {
          <p-message
            severity="info"
            icon="pi pi-info-circle"
            styleClass="m-4"
            text="{{ 'REMOTES.BOOKMARK_LIST.NO_PUBLIC_BOOKMARKS.STATE' | translate }}"
          />
        }
      </p-tabpanel>
    </p-tabs>
  }
</div>
