/* USED only in STANDALONE mode */

/* global styles */
@import 'node_modules/primeng/resources/primeng.min.css';
@import 'node_modules/primeicons/primeicons.css';
@import 'node_modules/primeflex/primeflex.scss';

/* portal core */
@import 'node_modules/@onecx/portal-layout-styles/src/styles/shell/shell.scss';
@import 'node_modules/@onecx/portal-layout-styles/src/styles/primeng/theme-light.scss';
@import 'node_modules/@onecx/portal-integration-angular/assets/styles.scss';

// disable default settings of dialogs created by portal dialog service
.buttonDialogScrollableContent {
  max-height: unset !important;
  margin-bottom: 1rem !important;
}
// correct dialog created by portal dialog service => no footer section is used
.p-dialog .p-dialog-content {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
