<p-skeleton *ngIf="loading" styleClass="max-w-10rem max-h-5rem w-10rem h-5rem"></p-skeleton>
<!-- 
  [ocxSrc]="(this.errorImage$ | async) ?? (productLogoBaseURL$ | async) + (bookmark.productName ?? '')"
  [ocxSrc]="productLogoUrl ?? (this.errorImage$ | async)"
-->
<img
  *ngIf="bookmark"
  [alt]="bookmark.displayName"
  [ocxSrc]="productLogoUrl ?? (defaultImageUrl$ | async) ?? undefined"
  [class]="'w-4rem sm:w-5rem lg:w-7rem max-w-4rem sm:max-w-5rem lg:max-w-7rem sm:max-h-6rem h-3rem sm:h-4rem lg:h-6rem image-object ' + (styleClass ? styleClass : '')"
  [ngClass]="loading ? 'hidden': ''"
  (error)="onImageError()"
  (load)="onImageLoad()"
/>
